.filters{display: block;width: 100%;margin: 10px auto;}
.filters .form-group{display: flex;flex-direction:row;justify-content:center;align-items:center;gap:8px;}
.filters .form-group label{display: inline;font-size:18px;font-weight:400;}